*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
   background-color: #246EB9; 
   color: #FDFFFC;
   height: 5rem;
   line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    background-color: #F5EE9E;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 2rem;
}
#user-score{
    font-size: 4rem;
}
#comp-score{
    font-size: 4rem;
}
#msg{
    font-size: 2rem;
    background-color: #E4BB97;
    color: #D6E3F8;
    display: inline;
    border-radius: 1rem;
    padding: 0.5rem;

    
}
.msg-container{
    margin-top: 5rem;
}